:root {
  --dark: #E1E1E1;
  --light: #515151;
  --secondary: #515151;

  --primary900: #002159;
  --primary800: #01337D;
  --primary700: #03449E;
  --primary600: #0552B5;
  --primary500: #0967D2;
  --primary400: #2186EB;
  --primary300: #47A3F3;
  --primary200: #7CC4FA;
  --primary100: #BAE3FF;
  --primary000: #E6F6FF;

  --danger900: #610316;
  --danger800: #8A041A;
  --danger700: #AB091E;
  --danger600: #CF1124;
  --danger500: #E12D39;
  --danger400: #EF4E4E;
  --danger300: #F86A6A;
  --danger200: #FF9B9B;
  --danger100: #FFBDBD;
  --danger000: #FFE3E3;

  --grey000: #222222;
  --grey100: #3B3B3B;
  --grey200: #515151;
  --grey300: #626262;
  --grey400: #7E7E7E;
  --grey500: #9E9E9E;
  --grey600: #B1B1B1;
  --grey700: #CFCFCF;
  --grey800: #E1E1E1;
  --grey900: #F7F7F7;

  --primary-background-color: rgb(54, 54, 54);
  --primary-text-color: #CFCFCF;
  --selected-background-color: var(--primary);
  --selected-text-color: var(--primary-text-color);
}

.form-control, body, button {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

.border {
  border-left-color: var(--grey300) !important;
  border-right-color: var(--grey300) !important;
  border-top-color: var(--grey300) !important;
  border-bottom-color: var(--grey300) !important;
}

.border-bottom {
  border-bottom-color: var(--grey300) !important;
}

.border-top {
  border-top-color: var(--grey300) !important;
}

input, button {
  background-color: var(--grey400);
}

.btn-light {
  background-color: var(--light);
  border-color: var(--light);
}

.bg-light {
  background-color: var(--light);
}

.text-light {
  color: var(--light);
}


