.polar-pdfviewer .page canvas {
  filter: invert(0.90);
}

.polar-pdfviewer .page {
  border-image: none !important;
}

.polar-pdfviewer .page {
  // done to prevent white flicker when the pages is being moved...
  background-color: var(--primary-background-color);
}
