.ReactTable .-pagination .-btn {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.ReactTable .rt-tbody .rt-tr-group {
  border-bottom-color: var(--grey300);
}

.rt-th {
  font-weight: bold;
  text-align: left;
  border-bottom: 1px var(--grey300) solid;
}

.ReactTable .rt-thead .rt-th.-sort-desc {
  box-shadow: inset 0 -4px 0 0 var(--primary);
}

.ReactTable .rt-thead .rt-th.-sort-asc {
  box-shadow: inset 0 4px 0 0 var(--primary);
}

.ReactTable {
  border-left-color: var(--grey300);
  border-top-color: var(--grey300);
  border-right-color: var(--grey300);
  border-bottom-color: var(--grey300);
}

.ReactTable .-pagination {
  border-top-color: var(--grey300);
}
