.select__control, .select__menu {
  background-color: var(--grey100) !important;
  color: var(--primary-text-color) !important
}

.dropdown-menu {
  background-color: var(--primary-background-color) !important;
}
